.Bouton{
  
    transform: translate (-50%, -50%);
    color: #fff;
    background: #0A62D0;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 40vw;
    height: 67px;
    max-width: 180px;
    font-size: 18px;
    font-weight: bold;

}

.Bouton2{
    top: 30%;
    left: 50%;
    color: #fff;
    background: #0A62D0;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 67px;
    margin: 10px;
    
    

}