

.BarreLoader{
background-color: #E0E5E9;
position: absolute;
top: 74px;
right: 15px;
text-align: center;
width: 400px;
font-family: Alata;
font-size: 28px;
border-radius: 10px;
margin-left: 5px;
}

.Loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 60px;
height: 60px;
box-sizing: border-box;
background: grey;


}

.Face{
    position: absolute;
    border: 2px solid #121212;

}

#Face1{
 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #090909;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    border-radius: 50%;
    border-left: 2px solid #ffff00;
    border-top: 2px solid #ffff00;
    animation: animate 3s linear infinite;
}

#Face2{
    position: absolute;
    border: 2px solid #121212;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: #090909;
    box-shadow: 0 0 10px rgb(0, 0, 0, 1);
    border-radius: 50%;
    border-right: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
    animation: animate 3s linear  reverse infinite;
}

.Circle{
position: absolute;
top: 50%;
left:50%;
width: 50%;
height: 2px;
height: 2px;
transform-origin: left;
}

#Circle1{
    transform: rotate(-45deg);
}

#Circle2{
    transform: rotate(-45deg);
}

.Circle:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    top: -4px;
    right: -6px;
}

#Circle1:before{
background: #ffff00;
box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0, 0 0 1000px #ff0, 0 0 0 5px rgba(255,255,0,.1);
}

#Circle2:before{
    background: #03a9f4;
    box-shadow: 0 0 20px #03a9f4,
                0 0 40px #03a9f4,
                0 0 60px #03a9f4,
                0 0 80px #03a9f4,
                0 0 1000px #03a9f4,
                0 0 0 5px rgba(3,169,244,.1);
    }

    @keyframes animate
    {
0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
}
    }