

.Details{
    text-align: center;
    font-size:18px;
    margin-top:10px;
    margin-right:60px;
    margin-left:60px;
    margin-bottom: 10px

}


h2{
    text-align: center;
    font-size:30px

}

h4{
    text-align: center;
    font-size:20px;

}


h4{
    text-align: center;
    font-size:20px;
    font-weight: bold

}

h5{
    margin-top: 40px

}

.Divhaut{
    display:flex;
    flex-direction:row;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 25px;

}
.Divhautdroite{
    display:flex;
    flex-direction:column;
  
   

}

.Barreboutons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.Critere{
font-size:18px;

}

.Hline { width:100%; height:1px; background: black }

.Colonnegauche{
    background-color: #E0E5E9;
    border-radius: 25px;
   
    text-align: center;
    
    margin-right: 10px;
    width: 250px

}




.Boutonexit{
    position: absolute;
    right: 0;
    top: 0;
    border-radius:50px;
    background-color: #F3D849

}

