body{
    font-family: Inter;
text-align: justify;
}
.Ariane{

    padding: 15px; 
    
}

.Numero{
margin-right: 10px;

}

#ChampNonRenseigne{
font-style: italic;

}

.CritAid{
    margin-right: 20px;
    flex: 1 1 auto;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.CritQuestion{
font-weight: bold;
font-size: 14px;
margin-right: 10px;

}

.Sidebar{
    height: max-content;
    width:20%;
  
    border-radius: 10px;
    margin-top: 6vh;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #E0E5E9;
    font-family: Inter;
}

.SidebarList{
    height: auto;
    padding:0;
    width:100%;

}

.SidebarList .Row{
width: 100%;
height: 60px;
list-style-type: none;
margin: 0%;
place-items: center;
display: flex;
flex-direction: row;
color: black;
justify-content: center;
align-items: center;
font-weight: bold;
transition: ease-out 0.3s;
outline:none;
position: relative;
z-index: 0;
}




#active{
    background-color: #0A62D0 !important ;
    color:white;
}





.Row:hover{
    cursor: pointer;
    background-color: #F3D849;
}



#IconeTri {
     
       margin-left: 50px;
       margin-right: 25px;   
        place-items: center;
        height: 32px;
        width: 32px;
   
}

#Title{
    flex:70%;
    
}

.Mapper{

margin-top: 6vh;
width: 80%;
max-height: calc(72vh);
overflow-y: auto;
}


.CardAid{

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-radius:10px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #E0E5E9;
    height: 475px;
  
    font-family: Inter;
}


.CardRang1{
    height:80px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;

  

    
}

.CardAidName{
   
    height:150px; 
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-overflow: "-";

  

    
    
}

.Hline { width:100%; height:1px; background: black }

.CardAidMontant{
    height:60%;
   width: 180px;
    font-size: 24px;
   text-align: center;
   margin-top: 5%;

  
    border-radius: 5px;
  
}

.CardAidInfo{
    

    display: flex;
    flex-direction: column;
   height: 150px;

   
  
  
}
           
.CardAidInfoSup{
    font-size: 14px;
  display: flex;
  flex-direction: row;

    height: 50%;
  
   
}
           
.CardAidInfoInf{
    font-size: 14px;
    display: flex;
    flex-direction: row;

    height: 50%;
   
   
}     

.Criteres{
 width: 48%;
 margin-left: 5px;
 margin-right: 5px;    
}  

.ask{
font-weight: bold;
display: flex;
    flex-direction: column;
}

.ans{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  
    }

.CardAidbouton{
    height:50px;
    justify-content: center;
    align-content: flex-end;
   

}         

.Ensavoirplus{
    color: #fff;
    background: #0A62D0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;


}
  

#blurEffectOn{
    filter: blur(7px);
 

}

.Details{
    text-align: center;
    font-size:18px;
    margin-top:10px;
    margin-right:60px;
    margin-left:60px;
    margin-bottom: 10px

}