
.ant-menu-item-active, .ant-menu-item-selected  {
    background-color: transparent !important;
    color:'white'
  }

.ant-menu-item {
align-items: center;
justify-content: center;
width:100%;
color: white;
display:flex;
flex-direction:row;
}

.ant-menu-item-icon:active{
  color:'white' !important
}

.menu {
    background-color:'';
    border:'3px solid';
    border-radius:'3';
    border-color:'#2ADAED';
    color:'white';
    width:67;
    display:'flex';
    flex-direction:'column';
    align-items:'center';
    justify-content:'center';
    margin-bottom: '70px';

}

.colonne{
    display:'flex';
    flex-direction:'column';
    align-items:'center';
    justify-content:'center';
}

body {
  overflow-x: hidden; 

}
