@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -0.015em;
  color: #191718;
  
}

.Login-page{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:start;
  height:100vh;
  background-color: #E0E5E9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  

  }

  .Signin-input {
    margin: 15px;
    width: 400px;
  }

  .Signup-input {
    margin: 5px !important;
    width: 400px;
  }

  .Sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 5%;
    margin: 120px;
}

.Question{

  text-align: center;
  font-size: 35px;
  font-family: Spartan;
  color: black;
  
  
}

.reponse{

  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -0.015em;
  color: white;
}
body {
  background-color: white;
}
