
.form-dept {
    height: 350px;
    width:  80%;
    background-color: white;
    margin-left: 10%;
    border-radius: 5px; 
    border: 1px solid #E0E5E9;
    padding-top : 80px;
    padding-left: 50px;
    
    

  }
  .buttonTerritory {

    background-color: #0A62D0;
    border-radius : 10px;
    height: 60px;
    font-size: 24px;
    margin-left: 50px;
    color: white                                                             

  }
  